# My first program in python
## opening excel
### library pandas

In [29]:
import pandas
import requests
import time
import random

read the excel file into a dataframe

In [30]:
path = '/Users/fabien/Documents/workspace/github/essca/Data-sheet-STUDENTS.xlsx'
df = pandas.read_excel(path, header=2, usecols='B:AR')

In [31]:
df.at[0,'IMF WB\nCustoms and other import duties (% of tax revenue) 2016']

nan

In [32]:
import pickle
with open('/Users/fabien/Documents/workspace/github/essca/countries.pck','rb') as handle:
    countries = pickle.load(handle)

## get worldbank indicator

In [43]:
def get_worldbank_indicator(country_code):
    url = 'http://api.worldbank.org/v2/country/'
    url += country_code
    url += '/indicator/GC.TAX.IMPT.ZS?format=json'
    r = requests.get(url)
    data = r.json()
    try:
        for item in data[1]:
            if item['value'] is None:
                continue
            else:
                return(item['value'])
    except IndexError:
        return None

In [44]:
for key, value in countries.items():
    country_name = key
    alpha3Code = value[0]
    index = value[1]
    print('getting indicator for',country_name,'aka',alpha3Code)
    indicator = get_worldbank_indicator(alpha3Code)
    df.at[index,'IMF WB\nCustoms and other import duties (% of tax revenue) 2016']=indicator
    time.sleep(random.random()+0.5)

getting indicator for Afghanistan aka AFG
getting indicator for Albania aka ALB
getting indicator for Armenia aka ARM
getting indicator for Azerbaijan aka AZE
getting indicator for Bahrain aka BHR
getting indicator for Bangladesh aka BGD
getting indicator for Belarus aka BLR
getting indicator for Bhutan aka BTN
getting indicator for Bosnia and Herzegovina aka BIH
getting indicator for Brunei aka BRN
getting indicator for Bulgaria aka BGR
getting indicator for Cambodia aka KHM
getting indicator for China aka CHN
getting indicator for Croatia aka HRV
getting indicator for Czech Republic aka CZE
getting indicator for East Timor aka TLS
getting indicator for Egypt aka EGY
getting indicator for Estonia aka EST
getting indicator for France (Not BRI) aka FRA
getting indicator for Georgia aka GEO
getting indicator for Germany (not BRI) aka DEU
getting indicator for Hungary aka HUN
getting indicator for India aka IOT
getting indicator for Indonesia aka IDN
getting indicator for Iran aka IRN
getting indicator for Iraq aka IRQ
getting indicator for Israel aka ISR
getting indicator for Jordan aka JOR
getting indicator for Kazakhstan aka KAZ
getting indicator for Kuwait aka KWT
getting indicator for Kyrgyzstan aka KGZ
getting indicator for Laos aka LAO
getting indicator for Latvia aka LVA
getting indicator for Lebanon aka LBN
getting indicator for Lithuania aka LTU
getting indicator for Macedonia aka MKD
getting indicator for Malaysia aka MYS
getting indicator for Maldives aka MDV
getting indicator for Moldova aka MDA
getting indicator for Mongolia aka MNG
getting indicator for Montenegro aka MNE
getting indicator for Myanmar aka MMR
getting indicator for Nepal aka NPL
getting indicator for Oman aka OMN
getting indicator for Pakistan aka PAK
getting indicator for Philippines aka PHL
getting indicator for Poland aka POL
getting indicator for Qatar aka QAT
getting indicator for Romania aka ROU
getting indicator for Russia aka RUS
getting indicator for Saudi Arabia aka SAU
getting indicator for Serbia aka SRB
getting indicator for Singapore aka SGP
getting indicator for Slovakia aka SVK
getting indicator for Slovenia aka SVN
getting indicator for Sri Lanka aka LKA
getting indicator for Syria aka SYR
getting indicator for Tajikistan aka TJK
getting indicator for Turkey aka TUR
getting indicator for Turkmenistan aka TKM
getting indicator for United Kingdom (Not BRI) aka GBR
getting indicator for United States of America (Not BRI) aka USA
getting indicator for Ukraine aka UKR
getting indicator for Uzbekistan aka UZB
getting indicator for Vietnam aka VNM
getting indicator for Yemen aka YEM
getting indicator for Thailiand aka THA
getting indicator for The United Arab Emirates aka ARE

In [45]:
df[['Country (according to CN Gov):','IMF WB\nCustoms and other import duties (% of tax revenue) 2016']]

,Country (according to CN Gov):,IMF WB Customs and other import duties (% of tax revenue) 2016
0,Afghanistan,32.551072
1,Albania,2.216459
2,Armenia,6.275395
3,Azerbaijan,4.550383
4,Bahrain,87.914439
5,Bangladesh,28.923008
6,Belarus,8.200619
7,Bhutan,3.052294
8,Bosnia and Herzegovina,0.066132
9,Brunei,NaN
10,Bulgaria,0.072798
11,Cambodia,15.785253
12,China,3.894341
13,Croatia,0.670090
14,Czech Republic,0.819567
15,East Timor,5.741272
16,Egypt,6.849002
17,Estonia,0.039429
18,France (Not BRI),-0.021908
19,Georgia,0.796325
20,Germany (not BRI),0.021249
21,Hungary,-0.000145
22,India,NaN
23,Indonesia,2.463390
24,Iran,20.696450
25,Iraq,14.105211
26,Israel,1.153110
27,Jordan,8.533450
28,Kazakhstan,5.299908
29,Kuwait,66.806723
...,...,...
38,Moldova,3.423233
39,Mongolia,12.087573
40,Montenegro,NaN
41,Myanmar,9.003222
42,Nepal,17.770038
43,Oman,28.368146
44,Pakistan,18.780936
45,Philippines,20.357608
46,Poland,0.128546
47,Qatar,6.021326
48,Romania,0.003434
49,Russia,6.217626
50,Saudi Arabia,NaN
51,Serbia,5.062219
52,Singapore,0.071508
53,Slovakia,0.000290
54,Slovenia,0.808280
55,Sri Lanka,22.054891
56,Syria,10.230756
57,Tajikistan,NaN
58,Thailiand,3.952757
59,The United Arab Emirates,0.381747
60,Turkey,2.418238
61,Turkmenistan,NaN
62,United Kingdom (Not BRI),0.047747
63,United States of America (Not BRI),1.656294
64,Ukraine,3.997681
65,Uzbekistan,5.186860
66,Vietnam,18.427549
67,Yemen,NaN